html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #243949 0%, #517fa4 100%);
}

.frame {
  width: 90vmin;
  height: 60vmin;
  border: 1vmin solid white;
  background: linear-gradient(to top, #cce0ff 0%, #99c2ff 50%, #66aaff 100%);
  overflow: hidden;
  position: relative;
}

.cloud1 {
  width: 30vmin;
  height: 20vmin;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0) 100%);
  clip-path: polygon(21% 46%, 19% 43%, 16% 42%, 13% 43%, 11% 46%, 10% 50%, 11% 53%, 14% 55%, 17% 56%, 19% 56%, 22% 55%,     24% 54%, 26% 56%, 28% 59%, 31% 61%, 35% 60%, 37% 59%, 40% 63%, 44% 65%, 49% 67%, 52% 66%, 56% 64%, 59% 62%, 61% 59%, 64%    56%, 67% 57%, 70% 58%, 74% 58%, 76% 56%, 78% 54%, 80% 53%, 84% 54%, 87% 55%, 90% 54%, 93% 52%, 95% 49%, 96% 45%, 94% 41%,   91% 40%, 88% 40%, 84% 42%, 82% 44%, 79% 45%, 76% 47%, 75% 45%, 73% 42%, 70% 39%, 68% 37%, 65% 35%, 62% 34%, 59% 36%, 57% 38%, 55% 41%, 53% 43%, 52% 42%, 51% 39%, 49% 36%, 46% 33%, 43% 30%, 40% 29%, 36% 29%, 33% 30%, 30% 32%, 27% 33%, 24% 36%, 22% 42%);
  position: absolute; 
  top: -1vmin;
  left: 1vmin;
  animation: moveClouds 60s linear infinite;
}

.cloud2 {
  top: 2vmin;
  left: 8vmin;
}

.cloud3 {
  top: 0vmin;
  left: 16vmin;
}

.cloud4 {
  top: 0vmin;
  left: 25vmin;
}

.cloud5 {
  width: 30vmin;
  height: 20vmin;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0) 100%);
  clip-path: polygon(21% 46%, 19% 43%, 16% 42%, 13% 43%, 11% 46%, 10% 50%, 11% 53%, 14% 55%, 17% 56%, 19% 56%, 22% 55%, 24% 54%, 26% 56%, 28% 59%, 31% 61%, 35% 60%, 37% 59%, 40% 63%, 44% 65%, 49% 67%, 52% 66%, 56% 64%, 59% 62%, 61% 59%, 64%    56%, 67% 57%, 70% 58%, 74% 58%, 76% 56%, 78% 54%, 80% 53%, 84% 54%, 87% 55%, 90% 54%, 93% 52%, 95% 49%, 96% 45%, 94% 41%,   91% 40%, 88% 40%, 84% 42%, 82% 44%, 79% 45%, 76% 47%, 75% 45%, 73% 42%, 70% 39%, 68% 37%, 65% 35%, 62% 34%, 59% 36%, 57% 38%, 55% 41%, 53% 43%, 52% 42%, 51% 39%, 49% 36%, 46% 33%, 43% 30%, 40% 29%, 36% 29%, 33% 30%, 30% 32%, 27% 33%, 24% 36%, 22% 42%);
  position: absolute; 
  transform: scale(0.7);
  top: 5vmin;
  right: 5vmin;
  animation: moveClouds 60s linear infinite;
}

.cloud6 {
  top: 3vmin;
  right: 1vmin;
}

.cloud7 {
  top: 4.5vmin;
  right: -7vmin;
}

.back-mountains {
  width: 90vmin;
  height: 55vmin;
  background: linear-gradient(to bottom, #ffffff 35%, #cce0ff 45%, #99c2ff 60%, #112B45 100%);
  clip-path: polygon(0% 100%, 0 61%, 4% 56%, 7% 52%, 10% 48%, 13% 45%, 15% 43%, 17% 40%, 19% 39%, 22% 41%, 23% 44%, 27% 47%, 27% 46%, 28% 44%, 31% 39%, 34% 36%, 37% 33%, 39% 30%, 41% 27%, 44% 25%, 47% 22%, 49% 21%, 51% 20%, 55% 24%, 56% 27%, 58% 27%, 61% 28%, 62% 31%, 65% 33%, 68% 36%, 69% 39%, 71% 41%, 73% 44%, 75% 41%, 78% 39%, 80% 36%, 84% 35%, 85% 33%, 89% 30%, 91% 32%, 93% 36%, 95% 38%, 97% 39%, 98% 44%, 100% 46%, 100% 48%, 100% 100%);
  position: absolute; 
  bottom: -1vmin;
}

.shadow-mountain1 {
  width: 60vmin;
  height: 40vmin;
  background: #112B45;
  clip-path: polygon(9% 66%, 8% 71%, 9% 78%, 10% 81%, 11% 75%, 11% 70%, 13% 72%, 14% 75%, 14% 79%, 15% 75%, 15% 71%, 14% 68%, 13% 65%, 15% 62%, 17% 60%, 17% 64%, 17% 69%, 18% 73%, 19% 68%, 19% 64%, 19% 60%, 18% 56%, 17% 54%, 18% 54%, 21% 53%, 24% 53%, 26% 55%, 25% 52%, 25% 49%, 29% 47%, 25% 42%, 26% 38%, 24% 38%, 21% 42%, 18% 45%, 20% 47%, 17% 49%, 16% 51%, 14% 55%, 15% 57%, 13% 59%, 11% 63%);
  position: absolute; 
  top: 16vmin;
  left: -2vmin;
  transform: rotate(15deg) scale(0.8);
}

.shadow-mountain2 {
  width: 60vmin;
  height: 40vmin;
  background: #112B45;
  clip-path: polygon(16% 65%, 18% 63%, 19% 59%, 21% 56%, 24% 54%, 26% 49%, 27% 45%, 27% 41%, 29% 39%, 33% 38%, 34% 34%, 37% 30%, 40% 30%, 40% 33%, 39% 38%, 39% 43%, 38% 48%, 37% 43%, 37% 39%, 37% 37%, 35% 39%, 35% 43%, 33% 46%, 33% 52%, 31% 55%, 31% 51%, 32% 46%, 33% 43%, 32% 42%, 30% 42%, 29% 47%, 28% 51%, 29% 55%, 28% 59%, 28% 63%, 25% 67%, 23% 73%, 21% 77%, 23% 70%, 24% 65%, 26% 61%, 26% 57%, 22% 63%, 23% 59%);
  position: absolute; 
  top: 9vmin;
  left: 20vmin;
  transform: rotate(15deg);
}

.shadow-mountain3 {
  width: 60vmin;
  height: 40vmin;
  background: #112B45;
  clip-path: polygon(9% 66%, 8% 71%, 9% 78%, 10% 81%, 11% 75%, 11% 70%, 13% 69%, 14% 68%, 13% 65%, 15% 62%, 17% 60%, 17% 64%, 17% 69%, 19% 62%, 19% 60%, 18% 56%, 17% 54%, 18% 54%, 22% 48%, 23% 53%, 23% 59%, 25% 51%, 25% 49%, 29% 47%, 25% 42%, 26% 38%, 24% 38%, 21% 42%, 18% 45%, 20% 47%, 17% 49%, 16% 51%, 14% 55%, 15% 57%, 13% 59%, 11% 63%);
  position: absolute; 
  top: 13vmin;
  right: -28vmin;
  transform: rotate(30deg) scale(0.7);
}

.couple {
  width: 30vmin;
  height: 20vmin;
  background: black;
  clip-path: polygon(23% 100%, 24% 94%, 25% 90%, 26% 88%, 26% 85%, 24% 82%, 24% 72%, 24% 63%, 24% 57%, 25% 52%, 27% 48%, 32% 46%, 33% 43%, 35% 42%, 36% 39%, 35% 35%, 35% 34%, 33% 33%, 32% 28%, 33% 26%, 34% 23%, 35% 20%, 37% 18%, 39% 18%, 43% 19%, 45% 20%, 46% 22%, 47% 25%, 48% 30%, 47% 34%, 50% 32%, 52% 32%, 54% 33%, 55% 35%, 57% 38%, 58% 40%, 59% 42%, 59% 44%, 61% 47%, 64% 48%, 66% 49%, 68% 54%, 68% 61%, 68% 64%, 68% 67%, 68% 70%, 67% 73%, 67% 76%, 68% 78%, 69% 81%, 68% 84%, 67% 86%, 66% 88%, 66% 91%, 68% 94%, 70% 97%, 71% 100%, 48% 100%, 48% 90%, 49% 86%, 50% 82%, 49% 78%, 47% 73%, 46% 76%, 45% 82%, 48% 89%, 49% 96%, 49% 99%);
  position: absolute; 
  bottom: -1vmin;
  left: 33vmin;
}

.description {
  background: white;
  width: 50vmin;
  padding: 1vmin;
  float: right;
  margin-top: 1vmin;
}

.description h3 {
  font-size: 1.5vmin;
  margin: 0px;
  font-family: Tahoma, sans-serif;
}

@keyframes moveClouds {
    0% {
        transform: translateX(-100px) translateY(5px);
        opacity: 0.8;
    }
    50% {
        transform: translateX(100px) translateY(5px);
        opacity: 0.8;
    }
    
    100% {
        transform: translateX(-100px) translateY(5px);
        opacity: 0.8;
    }
    
}
